@model FleetManagementServiceCore.BusinessModels.Vessel

@{
    ViewData["Title"] = "Details";
}

<h1>Vessel Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentLoad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentLoad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fleet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fleet.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.Id">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
