@model IEnumerable<FleetManagementServiceCore.BusinessModels.Vessel>

@{
    ViewData["Title"] = "Index";
}

<h1>Vessels</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentLoad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fleet)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentLoad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fleet.Name)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id">Edit</a> 
                    <a asp-action="Details" class="btn btn-secondary" asp-route-id="@item.Id">Details</a> 
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
